<ion-header>
  <ion-toolbar>
    <ion-title>{{'UsersPage.Title'| translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin">

    <ion-row>
      <ion-col>{{'UsersPage.UserName'| translate}}</ion-col>
      <ion-col>{{'UsersPage.FirstName'| translate}}</ion-col>
      <ion-col>{{'UsersPage.LastName'| translate}}</ion-col>
      <ion-col>{{'UsersPage.RolesCount'| translate}}</ion-col>
      <ion-col>{{'UsersPage.Roles'| translate}}</ion-col>
    </ion-row>

    <ion-row *ngFor="let user of users$; index as i">
      <ion-col>{{user.username}}</ion-col>
      <ion-col>{{user.firstName}}</ion-col>
      <ion-col>{{user.lastName}}</ion-col>
      <ion-col>{{user.roles.length}}</ion-col>
      <ion-col ><ion-text *ngFor="let role of user.roles; let isLast=last">{{role.roleName}}{{isLast ? '' : ', '}}</ion-text></ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
