<ion-header>
  <ion-toolbar>
    <ion-title>{{'RolesPage.rolesPageTitle' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid
    class="ion-margin"
    *ngFor="let role of roles$; index as i"(click)="usersNotInRole(role.id)">
    <ion-row (click)="toggleRoles(i)">
      <ion-col>{{role.name}}</ion-col>
      <ion-col>{{role.description}}</ion-col>
      <ion-col>{{role.users.length}}</ion-col>
      <ion-col>
        <ion-button (click)="deleteRole(role.id)">{{'RolesPage.deleteRoleButton' | translate}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-list *ngFor="let users of role.users">
      <ion-item *ngIf="roleIndex === i">{{users.userName}}<ion-button (click)="unassignUserToRole(users.id, role.id)">{{'RolesPage.deleteUserFromRole' |translate
        }}</ion-button>
      </ion-item>

    </ion-list>
    <ion-item *ngIf="roleIndex === i">

      <ion-select placeholder="{{'RolesPage.addUserToRoleButton'|translate}}"
        interface="popover"
        [(ngModel)]="userId" (ngModelChange)="assignUserToRole(userId, role.id )"
      >

        <ion-select-option 
          *ngFor="let user of missingUsersInRole; index as x"
          [value]="user.id"
        > 
          {{user.username}}


        </ion-select-option>
        
      </ion-select>
    </ion-item>
  </ion-grid>
  <ion-item>
<ion-input
  placeholder="{{'RolesPage.roleNameInput'| translate}}" #roleName
></ion-input>
<ion-input
  placeholder="{{'RolesPage.roleDescriptionInput'| translate}}"
  #roleDescription
></ion-input>
<ion-button (click)="addRole(roleName.value, roleDescription.value)">{{'RolesPage.addRoleButton'| translate}}</ion-button>
</ion-item>
</ion-content>
